@model SomethingFruity.Models.Category

@{
    ViewData["Title"] = "New Category";
    Layout = null;
}

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create" asp-controller="Categories">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryCode" class="control-label"></label>
                <input asp-for="CategoryCode" class="form-control" required />
                <span asp-validation-for="CategoryCode" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="form-check-label" asp-for="IsActive"
                       style="text-transform:uppercase">
                    Is Active?  <input class="form-check-input" style="margin-left: 1em !important;float:right !important" asp-for="IsActive" type="checkbox">
                </label>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
