<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>@ViewData["Title"] Something Fruity</title>
    <!-- Font Awesome -->
    <link href="~/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/app.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet" />
</head>

<body>

    <div class="wrapper">
        <nav id="sidebar" class="sidebar" style="background: #121923 !important;">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <span class="align-middle">Something Fruity</span>
                </a>
                <ul class="sidebar-nav">
                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-area="" asp-controller="Products" asp-action="Index">
                           <i class="fa-solid fa-apple-whole"></i><span class="align-middle">Products</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-area="" asp-controller="Categories" asp-action="Index">
                           <i class="fa-solid fa-list"></i><span class="align-middle">Categories</span>
                        </a>
                    </li>
                 </ul>
            </div>
        </nav>

        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <a class="sidebar-toggle d-flex">
                    <i class="hamburger align-self-center"></i>
                </a>

                <form class="d-none d-sm-inline-block">
                    <div class="input-group input-group-navbar">
                        <input type="text" class="form-control" placeholder="Search…" aria-label="Search">
                        <button class="btn" type="button">
                            <i class="align-middle" data-feather="search"></i>
                        </button>
                    </div>
                </form>

                <partial name="_LoginPartial" />
            </nav>

            <main class="content">
                <div class="container-fluid p-0">
                    <div class="row mb-2 mb-xl-3">
                        <div class="col-auto d-none d-sm-block">
                            <h3><strong>@ViewData["Title"]</strong></h3>
                        </div>
                    </div>
                    @RenderBody()
                </div>
                <partial name="_FormPartial" />
            </main>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-6 text-start">
                            <p class="mb-0">
                                <a asp-area="" asp-controller="Home" asp-action="Index" class="text-muted"><strong>Something Fruity</strong></a> &copy;
                            </p>
                        </div>
                        <div class="col-6 text-end">

                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>



    <script src="~/js/jquery-3.4.1.min.js"></script>
    <!-- Custom scripts -->
    <script src="~/js/app.js"></script>
    <script src="~/js/site.js"></script>
    <script>
        // Tooltips Initialization
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })</script>

   
    @RenderSection("Scripts", required: false)
    <partial name="_FlashPartial" />
</body>
</html>
