@model SomethingFruity.Models.Product

@{
    ViewData["Title"] = "Delete user";
    Layout = null;
}

<h4>Are you sure you want to remove Product @Model.Name?</h4>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Name" />
        <input type="hidden" asp-for="UserId" />
        <input type="submit" value="Delete" class="btn btn-sm btn-danger float-end" />
    </form>
</div>
